<header class="footer">

    <nav class="nav" aria-label="Primary navigation">
        <ul class="nav-main">
            <li>
                <a href="https://twitter.com/mobiclinic" target="_blank" rel="noopener noreferrer">
                    <img src="/assets/icons/twitter.svg" alt="MobiClinic on Twitter" class="social-icon">
                </a>
            </li>

            <li>
                <a href="https://www.linkedin.com/company/mobiclinic" target="_blank" rel="noopener noreferrer">
                    <img src="/assets/icons/linkedin.svg" alt="MobiClinic on LinkedIn" class="social-icon">
                </a>
            </li>

            <li>© 2026 MobiClinic. All rights reserved.</li>
        </ul>
    </nav>
</header>