<header class="header">
    <div class="brand">
        <img src="assets/icons/logo.png" alt="MobiClinic Logo" class="logo">
        <p class="brand-title">MobiClinic</p>
    </div>

    <nav class="nav" aria-label="Primary navigation">
        <ul class="nav-main">
            <li class="list"><a href="/services">Services</a></li>
            <li class="list"><a href="/how-it-works">How it works</a></li>
            <li class="list"><a href="/about">About</a></li>
        </ul>

        <ul class="nav-auth">
            <button class="btn-signup">
            <li class="list"><a href="/signup">Sign Up</a></li>
            
            </button>
            <button class="btn-login">
            <li class="list"><a href="/login">Log In</a></li>
            </button>
        </ul>
    </nav>
</header>