<main>
    <div class="introduction">
          <header class="h1">
            Access Your Healthcare  Services,<br>
            Anytime, Anywhere.          
          </header>
         <p class="p">
          Accessible and convenient healthcare services at your fingertips. <br>
          AI Chatbot FirstAId Kit, Prescription and more. <br>
          Your health, our priority.   
         </p>

         <div class="btn-download">
            <img src="/assets/icons/download.svg"  class="download-icon">
            <a href="/download-btn" class="btn-download-link">Download App</a>
         </div>


    </div>
</main>